In [87]:
from bs4 import BeautifulSoup
import requests

In [88]:
url = 'https://en.wikipedia.org/wiki/Space_industry_of_India'

In [89]:
page = requests.get(url)
soup = BeautifulSoup(page.text,'html')

In [90]:
#<table class="wikitable sortable jquery-tablesorter" style="text-align:left">

In [91]:
table = soup.find_all('table', class_='wikitable sortable')[1]

In [92]:
title = table.find_all('th')

In [86]:
title_header= [x.text.strip() for x in title][:4]
title_header

['Name', 'Established', 'Ownership', 'Services']

In [93]:
import pandas as pd

In [96]:
df = pd.DataFrame(columns = title_header)

In [123]:
row_data = table.find_all('tr')[1:]

In [140]:
for x in row_data:
    y = x.find_all('td')
   # print([a.text.strip() for a in y][:-1])
    row_data_actual = [a.text.strip() for a in y][:-1]
    length = len(df)
    df.loc[length]=row_data_actual
df.drop_duplicates(inplace=True)
df

,Name,Established,Ownership,Services
0,AgniKul Cosmos,2017,Private,Launch vehicles
1,Bellatrix Aerospace,2015,Private,Satellite propulsion systems\nLaunch vehicles
2,Dhruva Space,2012,Private,Satellites
3,Pixxel,2019,Private,Earth imaging satellites
4,Satellize,2018,Private,Satellites
5,Skyroot Aerospace,2018,Private,Launch vehicles
6,Manastu Space,2017,Private,Satellites and spacecraft components\nSatellit...

In [141]:
df.to_csv(r'/Users/sibiakash/Downloads/SpaceIndiaCompanies.csv',index=False)